In [1]:
import sys
import pickle
import pandas as pd
import numpy as np

In [2]:
filename = "co_T0_T1_toshare.pkl"
area_to_minority = "OAtoMinorityData.CSV"

In [3]:
pickle_in = open(filename,"rb")
df = pickle.load(pickle_in)

In [4]:
from IPython.display import display
pd.options.display.max_columns = None
df.head()

,CompanyName,CompanyNumber,RegAddressCareOf,RegAddressPOBox,RegAddressAddressLine1,RegAddressAddressLine2,RegAddressPostTown,RegAddressCounty,RegAddressCountry,RegAddressPostCode,CompanyCategory,CompanyStatus_T0,CountryOfOrigin,DissolutionDate,IncorporationDate,AccountsAccountRefDay,AccountsAccountRefMonth,AccountsNextDueDate,AccountsLastMadeUpDate,AccountsAccountCategory,ReturnsNextDueDate,ReturnsLastMadeUpDate,MortgagesNumMortCharges,MortgagesNumMortOutstanding,MortgagesNumMortPartSatisfied,MortgagesNumMortSatisfied,LimitedPartnershipsNumGenPartners,LimitedPartnershipsNumLimPartners,PreviousName_1CONDATE,PreviousName_1CompanyName,PreviousName_2CONDATE,PreviousName_2CompanyName,PreviousName_3CONDATE,PreviousName_3CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,nSIC,SIC1,SIC2,SIC3,eCompanyCategory,eCompanyStatus,eCountryOfOrigin,eAccountsAccountCategory,dIncorporationDate,dAccountsNextDueDate,dAccountsLastMadeUpDate,dReturnsNextDueDate,dReturnsLastMadeUpDate,dConfStmtNextDueDate,dConfStmtLastMadeUpDate,dPreviousName_1CONDATE,dPreviousName_2CONDATE,namechanged,namechanged2,pcd,oseast1m,osnrth1m,oa11,cty,ru11ind,oac11,lat,long,imd,country,oac1,oac2,imdu,CompanyStatus_T1,class_1
0,! LTD,08209948,NaN,NaN,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,NaN,LS10 2RU,Private Limited Company,Active,United Kingdom,NaN,11/09/2012,30.0,9.0,30/06/2018,30/09/2016,DORMANT,09/10/2016,11/09/2015,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,25/09/2019,11/09/2017,99999.0,99.0,9.0,99.0,15,2,182,3,2012.857923,2018.495890,2016.748634,2016.693989,2015.857534,2019.734247,2017.857534,NaN,NaN,0,0,LS102RU,431572.0,430988.0,E00057795,E99999999,A1,8A1,53.774278,-1.522430,5831.0,E,8,8A,5648.931384,Active,False
1,!NNOV8 LIMITED,11006939,NaN,NaN,C/O FRANK HIRTH 1ST FLOOR,236 GRAY'S INN ROAD,LONDON,NaN,UNITED KINGDOM,WC1X 8HB,Private Limited Company,Active,United Kingdom,NaN,11/10/2017,31.0,3.0,11/07/2019,NaN,NO ACCOUNTS FILED,08/11/2018,NaN,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,24/10/2019,NaN,62090.0,62.0,0.0,90.0,15,2,182,10,2017.860274,2019.852055,NaN,2018.610959,NaN,2019.813699,NaN,NaN,NaN,0,0,WC1X8HB,530883.0,182219.0,E00004531,E99999999,A1,3B2,51.523730,-0.114790,14970.0,E,3,3B,14502.572940,Active,False
2,!NSPIRED LTD,SC421617,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,UNITED KINGDOM,AB11 7SY,Private Limited Company,Active,United Kingdom,NaN,11/04/2012,30.0,3.0,30/12/2018,30/03/2017,TOTAL EXEMPTION FULL,09/05/2017,11/04/2016,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,25/04/2020,11/04/2017,70229.0,70.0,2.0,29.0,15,2,182,13,2012.844262,2018.997260,2017.243836,2017.679452,2016.844262,2020.316940,2017.843836,NaN,NaN,0,0,AB117SY,393776.0,804937.0,S00090544,S99999999,1,2C3,57.135299,-2.104462,6772.0,S,2,2C,6772.000000,Active,False
3,!NVERTD DESIGNS LIMITED,09152972,NaN,NaN,55A HIGH STREET,NaN,SILSOE,BEDFORDSHIRE,NaN,MK45 4EW,Private Limited Company,Active,United Kingdom,NaN,30/07/2014,31.0,7.0,30/04/2019,31/07/2017,N/A,27/08/2016,30/07/2015,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13/08/2020,30/07/2017,58190.0,58.0,1.0,90.0,15,2,182,9,2014.578082,2019.328767,2017.580822,2016.655738,2015.578082,2020.617486,2017.578082,NaN,NaN,0,0,MK454EW,508137.0,235898.0,E00088094,E99999999,F1,1C3,52.010987,-0.425843,29038.0,E,1,1C,28131.310156,Active,False
4,!OBAC UK LIMITED,07687209,NaN,NaN,ENDEAVOUR HOUSE,COOPERS END ROAD,STANSTED AIRPORT,NaN,NaN,CM24 1SJ,Private Limited Company,Active,United Kingdom,NaN,29/06/2011,29.0,12.0,29/09/2018,31/12/2016,SMALL,27/07/2017,29/06/2016,1,1,0,0,0,0,15/07/2011,!OBAC FITTINGS LIMITED,NaN,NaN,NaN,NaN,13/07/2020,29/06/2017,70229.0,70.0,2.0,29.0,15,2,182,12,2011.493151,2018.745205,2017.000000,2017.569863,2016.494536,2020.532787,2017.493151,2011.536986,NaN,1,0,CM241SJ,554894.0,222515.0,E00112246,E10000012,E1,5B3,51.879690,0.248905,17104.0,E,5,5B,16569.940385,Active,False

In [5]:
#keep only those companies whose T0 status is active
df = df[df['CompanyStatus_T0']=='Active']

In [6]:
features = df[['CompanyNumber', 'oa11',
        'CountryOfOrigin','MortgagesNumMortCharges',
       'MortgagesNumMortOutstanding', 'MortgagesNumMortPartSatisfied', 'LimitedPartnershipsNumGenPartners',
       'LimitedPartnershipsNumLimPartners',  'SIC1',
       'eCompanyCategory', 'eCompanyStatus',
       'eAccountsAccountCategory', 'dIncorporationDate',
       'dAccountsNextDueDate',
       'dReturnsNextDueDate','dConfStmtNextDueDate','namechanged', 'namechanged2', 'class_1']].copy()
#Remove the rows with missing data 
features.dropna(how='any',inplace=True)

In [7]:
#isolate target outcome - company credit status at time T1
target = np.array(df['class_1'])
features = features.drop('class_1', axis=1)

#Create new features(periods)
T0 = 2018+(31+28)/365
T1 = 2019+(31+28)/365
features['dAccountsOutstandingTime'] = T0-features['dAccountsNextDueDate']
features['dConfStmtOutstandingTime'] = T0-features['dConfStmtNextDueDate']
features['dReturnsOutstandingTime'] = T0-features['dReturnsNextDueDate']
features['OperatingTime'] = T1-features['dIncorporationDate']
features.loc[features['dAccountsOutstandingTime']<0, 'dAccountsOutstandingTime'] = 0 
features.loc[features['dConfStmtOutstandingTime']<0, 'dConfStmtOutstandingTime'] = 0 
features.loc[features['dReturnsOutstandingTime']<0, 'dReturnsOutstandingTime'] = 0
features.drop(['dAccountsNextDueDate','dConfStmtNextDueDate','dReturnsNextDueDate','dIncorporationDate'],axis = 1,inplace = True)
features.head()

,CompanyNumber,oa11,CountryOfOrigin,MortgagesNumMortCharges,MortgagesNumMortOutstanding,MortgagesNumMortPartSatisfied,LimitedPartnershipsNumGenPartners,LimitedPartnershipsNumLimPartners,SIC1,eCompanyCategory,eCompanyStatus,eAccountsAccountCategory,namechanged,namechanged2,dAccountsOutstandingTime,dConfStmtOutstandingTime,dReturnsOutstandingTime,OperatingTime
0,08209948,E00057795,United Kingdom,0,0,0,0,0,99.0,15,2,3,0,0,0.0,0.0,1.467655,6.303720
1,11006939,E00004531,United Kingdom,0,0,0,0,0,62.0,15,2,10,0,0,0.0,0.0,0.000000,1.301370
2,SC421617,S00090544,United Kingdom,0,0,0,0,0,70.0,15,2,13,0,0,0.0,0.0,0.482192,6.317382
3,09152972,E00088094,United Kingdom,0,0,0,0,0,58.0,15,2,9,0,0,0.0,0.0,1.505906,4.583562
4,07687209,E00112246,United Kingdom,1,1,0,0,0,70.0,15,2,12,1,0,0.0,0.0,0.591781,7.668493

features['dConfStmtOutstandingTime'].value_counts()

features['CountryOfOrigin'].value_counts()

features['LimitedPartnershipsNumGenPartners'].value_counts()

features['eCompanyStatus'].value_counts()

features['LimitedPartnershipsNumLimPartners'].value_counts()

features['dAccountsOutstandingTime'].value_counts()

In [14]:
features.drop(['dConfStmtOutstandingTime','CountryOfOrigin','LimitedPartnershipsNumGenPartners','LimitedPartnershipsNumLimPartners','eCompanyStatus'],axis = 1,inplace = True)

In [15]:
features

,CompanyNumber,oa11,MortgagesNumMortCharges,MortgagesNumMortOutstanding,MortgagesNumMortPartSatisfied,SIC1,eCompanyCategory,eAccountsAccountCategory,namechanged,namechanged2,dAccountsOutstandingTime,dReturnsOutstandingTime,OperatingTime
0,08209948,E00057795,0,0,0,99.0,15,3,0,0,0.0,1.467655,6.303720
1,11006939,E00004531,0,0,0,62.0,15,10,0,0,0.0,0.000000,1.301370
2,SC421617,S00090544,0,0,0,70.0,15,13,0,0,0.0,0.482192,6.317382
3,09152972,E00088094,0,0,0,58.0,15,9,0,0,0.0,1.505906,4.583562
4,07687209,E00112246,1,1,0,70.0,15,12,1,0,0.0,0.591781,7.668493
5,02714021,E00016232,0,0,0,90.0,15,3,0,0,0.0,0.479452,26.232682
6,10275228,E00116620,0,0,0,33.0,15,10,0,0,0.0,0.473973,2.227218
7,03811958,E00125512,0,0,0,70.0,15,3,1,0,0.0,1.527764,19.605479
8,06439541,E00157855,0,0,0,99.0,15,3,0,0,0.0,1.175305,11.252055
9,02943302,E00117358,0,0,0,98.0,15,3,0,0,0.0,0.594521,24.671233
10,10694769,E00019017,0,0,0,69.0,15,10,1,0,0.0,0.000000,1.923288
11,10159974,E00012404,0,0,0,47.0,15,9,0,0,0.0,0.747945,2.984048
12,06473722,E00119589,0,0,0,56.0,15,14,0,0,0.0,0.241096,11.120660
13,04494986,E00027117,1,1,0,86.0,15,14,0,0,0.0,1.519567,16.597260
14,02537158,E00000029,2,0,0,64.0,15,14,0,0,0.0,1.970387,28.808219
15,10252250,E00018330,0,0,0,69.0,15,10,0,0,0.0,0.600000,2.675305
16,09151627,E00075951,0,0,0,82.0,15,13,0,0,0.0,1.511371,4.586301
17,08981806,E00071723,0,0,0,41.0,15,13,0,0,0.0,0.819178,4.654795
18,05651002,E00010825,0,0,0,68.0,15,9,1,0,0.0,0.493151,13.213699
19,10710570,E00010405,0,0,0,41.0,15,10,0,0,0.0,0.000000,1.821918
20,SC313991,S00103326,0,0,0,82.0,15,9,0,0,0.0,1.076712,11.997260
21,09008930,E00132140,0,0,0,86.0,15,9,0,0,0.0,0.772603,4.849315
22,10228158,E00163340,0,0,0,49.0,15,13,0,0,0.0,0.309589,2.710824
23,10793206,E00097150,0,0,0,92.0,15,10,0,0,0.0,0.000000,1.750685
24,10414561,E00175183,0,0,0,46.0,15,3,0,0,0.0,0.969863,2.719021
25,05318740,E00130554,0,0,0,43.0,15,13,0,0,0.0,1.112329,14.188966
26,09584663,E00008295,0,0,0,86.0,15,15,0,0,0.0,0.564384,3.315068
27,02871100,E00009755,5,5,0,68.0,15,9,0,0,0.0,1.251808,25.216438
28,01382560,E00136578,0,0,0,68.0,15,14,0,0,0.0,0.769863,40.643836
29,04427981,E00135695,0,0,0,56.0,15,14,0,0,0.0,0.764384,16.832877
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3591412,11180722,E00017829,0,0,0,14.0,15,10,0,0,0.0,0.000000,1.076712
3591413,11063694,E00031120,0,0,0,47.0,15,10,0,0,0.0,0.000000,1.290411
3591414,10783947,E00022826,0,0,0,96.0,15,10,0,0,0.0,0.000000,1.769863
3591415,11027972,E00013551,0,0,0,58.0,15,10,0,0,0.0,0.000000,1.347945
3591416,10682363,E00167127,0,0,0,14.0,15,10,0,0,0.0,0.000000,1.942466
3591417,10641713,E00094097,0,0,0,14.0,15,10,0,0,0.0,0.000000,2.002740
3591418,10928551,E00167099,0,0,0,56.0,15,10,0,0,0.0,0.000000,1.517808
3591419,09498296,E00128465,0,0,0,70.0,15,9,0,0,0.0,0.871233,3.947945
3591420,10885242,E00128873,0,0,0,90.0,15,10,0,0,0.0,0.000000,1.594521
3591421,10398269,E00120420,0,0,0,14.0,15,10,0,0,0.0,0.342466,2.418474
3591422,10910542,E00022706,0,0,0,82.0,15,10,0,0,0.0,0.000000,1.306849
3591423,NI629669,N00001116,2,2,0,69.0,15,13,1,0,0.0,0.917808,4.068493
3591424,11055963,E00013428,0,0,0,96.0,15,10,0,0,0.0,0.000000,1.465753
3591425,09782772,E00024124,0,0,0,56.0,15,9,0,0,0.0,1.372026,3.449315
3591426,09980128,W00000840,0,0,0,20.0,15,3,0,0,0.0,1.153425,3.156179
3591427,10938160,E00017882,0,0,0,90.0,15,10,0,0,0.0,0.000000,1.498630
3591428,10982198,E00026107,0,0,0,11.0,15,10,0,0,0.0,0.000000,1.424658
3591429,10031620,E00117081,0,0,0,56.0,15,9,0,0,0.0,0.923288,2.997709
3591430,09725303,E00010409,0,0,0,71.0,15,13,0,0,0.0,1.639786,3.391781
3591431,10903172,E00166229,0,0,0,55.0,15,10,0,0,0.0,0.000000,1.643836
3591432,10928294,E00159451,0,0,0,70.0,15,10,0,0,0.0,0.000000,1.520548
3591433,11018991,E00176752,0,0,0,56.0,15,10,1,0,0.0,0.000000,1.364384
3591434,10544878,E00021162,0,0,0,56.0,15,10,0,0,0.0,0.076712,1.997260
3591435,09495226,E00119105,0,0,0,95.0,15,15,0,0,0.0,0.876712,3.953425
3591436,11044986,E00077279,0,0,0,41.0,15,10,0,0,0.0,0.000000,2.046575
3591437,09511422,E00000026,0,0,0,79.0,15,13,0,0,0.0,0.852055,3.928767
3591438,10156261,E00079203,0,0,0,53.0,15,3,0,0,0.0,0.758904,2.833775
3591439,08182582,E00128465,0,0,0,46.0,15,3,0,0,0.0,1.290059,6.535961
3591440,06642625,E00091908,0,0,0,74.0,15,3,0,0,0.0,1.642518,10.393884
3591441,10535292,E00002418,0,0,0,47.0,15,10,0,0,0.0,0.112329,2.188966